.df{
  display: flex;
}
.fww{
  flex-wrap: wrap;
}
.fdc{
  flex-direction: column;
}
.jcsb{
  justify-content: space-between;
}
.aic{
  align-items: center;
}
.fdcr{
  flex-direction: column-reverse;
}
.fdrr{
  flex-direction: row-reverse;
}
.jcfe{
  justify-content: flex-end;
}
.aife{
  align-items: flex-end;
}